body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    font-family: arial, sans-serif;
}

.navbarbrand{
    color:white;
}
.navbarbrand:hover{
    color:lightgrey;
}

.playlistcontent{
    background-color: darkslategrey;
}

.playlistcontent h5{
    border-bottom: 2px solid darkgrey;
    padding-bottom: 5px;
}
.playlistcontent a{
    text-decoration: none;
    color:whitesmoke;
}
.playlistcontent a:hover{
    color:black;
}            
.playlistheader{
    background-color: grey;
    padding: 2px;
    padding-left: 15px;
}

input{
    border-radius: 7px;
}

.table td:hover {
        background: #ffa;
        cursor: pointer;
}
.table td.current {
    background: #cddfff;
}

.ui-autocomplete {
    z-index: 1100;
}